<% if @mixtape.errors %>
	<ul id="errors">
	<% @mixtape.errors.full_messages.each do |error| %>
		<li>Error: <%= error %></li>
		<% end %>
	</ul>
	<% end %>

<%= form_for @mixtape do |f| %>

<div class="form_group">
<%= f.label :name %>
<%= f.text_field :name %>
</div>

<div class="form_group">
<%= f.label :description %>
<%= f.text_area :description %>
</div>

<div class="form_group">
<%= collection_check_boxes(:mixtape, :song_ids, Song.all, :id, :name) %>
</div>

<div class="form_group">
<%= f.submit %>

</div>

<% end %>