<h2><%= @mixtape.name %></h2>

<p><%= @mixtape.description %></p>

<% @mixtape.songs.each do |song| %>
<li><%= link_to song, @song do%>
	<%= song.name %>
	<% end %>
 by <strong><%= song.artist.name %></strong></li>
<% end %>

<%= link_to "Back", mixtapes_path %>
<% if user_signed_in? && current_user.admin? || current_user.mixtape_ids.include?(@mixtape.id) %>
<%= link_to "Edit", edit_mixtape_path(@mixtape) %>
<%= link_to "Delete", mixtape_path(@mixtape),
	method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>