<% if @song.errors %>
	<ul id="errors">
	<% @song.errors.full_messages.each do |error| %>
		<li>Error: <%= error %></li>
		<% end %>
	</ul>
	<% end %>

<%= form_for @song do |f| %>

<div class="form_group">
<%= f.label :name %>
<%= f.text_field :name %>
</div>

<div class="form_group">
<%= f.label :year %>
<%= f.text_field :year %>
</div>

<div class="form_group">
<%= f.label :genre %>
<%= f.text_field :genre %>
</div>

<div class="form_group">
<%= f.label :length %>
<%= f.text_field :length %>
</div>

<div class="form_group">
<%= f.submit %>

</div>

<% end %>