<%= form_for @artist do |f| %>

<div class="form_group">
<%= f.label :name %>
<%= f.text_field :name %>
</div>

<div class="form_group">
<%= f.label :hometown %>
<%= f.text_field :hometown %>
</div>

<div class="form_group">
<%= f.label :bio %>
<%= f.text_area :bio %>
</div>

<div class="form_group">
<%= f.label :years_active %>
<%= f.text_field :years_active %>
</div>

<div class="form_group">
<%= f.submit %>

</div>

<% end %>