<h2><%= @artist.name %></h2>
<ul>
	<li>Hometown: <%= @artist.hometown %></li>
	<li>Years: <%= @artist.years_active %></li>
</ul>
<h3>Biography</h3>
	<p><%= @artist.bio %></p>

<h4>Songs</h4>
<ul>
<% @artist.songs.each do |x| %>
<li><%= x.name %></li>
<% end %>
</ul>


<%= link_to "Back", artists_path %>
<%= link_to "Edit", edit_artist_path(@artist) %>
<%= link_to "Delete", artist_path(@artist),
	method: :delete, data: { confirm: 'Are you sure?' } %>